<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">Assignment Tracker</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/assignments">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/assignments/add">Add Assignment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
